/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.apolo{
    word-spacing:0.1px;
}
.apolo-cuadriula{
    margin-top: 3px;
    float: left;
    margin-bottom: 15px;
}
.apolo-margen{
    border: 1px solid #0029A6;
    width: 100%;
    padding: 20px;
}

.apolo-actividades-principales {
    width: 100%;
    float: left;
    background-color: #ffffff;
    text-align: left;
    font-family: "telefonica", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: auto;
    border: 1px solid #0029A6;
    padding: 15px;
    margin-top: 37px;
    border-radius: 8px;
} 
.apolo-button-crear {
    border-radius: 8px !important;
    background-color: #0082B3;
    width: 100px;
    height: 30px;
    font-size: 12px;
}
.apolo .apolo-button-crear:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
  }

  .apolo .select {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    border: 6px solid transparent;
    border-color: 0;
  }
  .apolo select {
    word-wrap: normal;
    color: #003245;
    border: 1px solid #003245;
    font-size: 14px;
    height: 35px;
}
.apolo-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 1rem;
    padding: 0.75rem 1.25rem;
}

@media only screen and (max-width: 768px) {    
    .apolo-img {
        display: none;
    }
    .apolo-title{
        background:#0029A6 ;
    }
    .apolo-title-centrado {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .apolo-text-centrado {
        display: flex;
        justify-content: right;
        align-items: right;
    }

    .apolo-title-principales {
        width: 100%;
        float: left;
        background-color: #0029A6;
        font-size: 20px;
        height: 65px;
    }   
    .apolo-text {
        display: block;
    }

    .apolo-text-type {
        font-weight: bold;
        color: #000000;
        font-family: "telefonica", Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-top: 30px;
    }

}