<div class="apolo">

  <div class="apolo-cuadriula apolo-margen apolo-actividades-principales rounded">
    <form [formGroup]="formOrden" (ngSubmit)="ingresoOrden($event)">
      <div class="form-group ">
        <div>
          <div class="apolo-text-title-content">
            <label>
              Por favor selecciona el parámetro de búsqueda
            </label>
          </div>
          <select class="col-9 form-control" name="select" required (change)="parametroSeleccion($event.target.value)"
            formControlName="param" [ngClass]="{ 'is-invalid': submitted && f.param.errors }">
            <option value="" selected aria-placeholder="--">seleccione</option>
            <option value="XA_ORDER_ATIS"> Atis</option>
            <option value="apptNumber"> Número de orden de trabajo TOA</option>
            <option value="XA_PROCESS_ID"> ProcessID</option>
            <option value="XA_ACCESS_ID"> ID de la orden en SOM</option>
          </select>
          <div *ngIf="submitted && f.param.errors" class="invalid-feedback">
            <div *ngIf="f.param.errors.required">Seleccione un parametro de busqueda </div>
          </div>
        </div>
        <label for="idOrden">Orden</label>
        <input type="text" value="{{orden}}" formControlName="orden" class="form-control" id="idOrden"
          [ngClass]="{ 'is-invalid': submitted && f.orden.errors }" placeholder="N° de Orden">
        <div *ngIf="submitted && f.orden.errors" class="invalid-feedback">
          <div *ngIf="f.orden.errors.required">Debe ingresar el numero de orden</div>
        </div>

        <div class="boxes">
            <input type="checkbox" id="box" (click)="updateRol($event)">
            <label for="box">Retoma</label>

        </div>
<!-- 
        <div>
          <input type="checkbox" class="custom-control-input" id="defaultInline1">
          <label class="custom-control-label" for="defaultInline1"> Retoma </label>
        </div> -->

        <div *ngIf="ordenInexistente" class="col-12 apolo-alert-danger   ">
          <strong>Atencion! </strong>{{mensajeOrden}}
        </div>
      </div>
      <button type="submit" class="apolo-button-crear apolo-button-crear-medium apolo-fuente">entrar</button>
      <!-- <button text="foto"  class="apolo-button-crear apolo-button-crear-medium apolo-fuente" (tap)="onButoonTap()" ></button> -->
    </form>
  </div>

</div>