
  <div class="">
    <div class="apolo-icono-mov apolo-centrado-left">
      <img alt="Logo Movistar" src="/assets/imagenes apoloweb/logo-pcpc1.png">
    </div>
    <div  *ngIf="admin" class="float-right ">
      <label class="apolo-text-type">
        {{userview}}
      </label>
      <img alt="Logo Movistar" src="/assets/imagenes apoloweb/icon_mimovistar.png">
    </div>

    <div class="apolo-label">
      <div class="titulo-lineamientos">
        Lineamiento de actividades
      </div>
    </div>
  </div>
