.actionBtn {
    font-size: 4em;
    cursor: pointer;
    width: 45%;
    float: left;
    margin: 20px;
    text-align: right;
  }
  .actionBtnRrefresh {
    font-size: 4em;
    cursor: pointer;
    width: 45%;
    float: left;
    margin: 20px;
    text-align: left;
  }
  .centrado {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .snapshot{
    text-align: center;
    img{
        max-width: 800px;
        max-height: 800px;
    }
}
  
  .img-fluid {
     max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  .btnacciones {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
  }
  
  ul.links {
    padding-bottom: 20px;
  }

  .camara {
    width: 100%;
    float: left;
    margin-top: 30px;
  }

.camaraImg {
  width: 10%;
}

@media only screen and (max-width: 600px) {
  .actionBtn {
    width: 38%;
  }

  .actionBtnRrefresh {
    width: 30%;
  }  
}

@media only screen and (max-width: 768px) {
  .actionBtn {
    width: 40%;
  }

  .actionBtnRrefresh {
    width: 40%;
  }  
}

