
<!--div class="camara centrado" style="text-align: center;">
    <webcam [height]="300" [width]="350" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)">
    </webcam>
</div>

    
    <div class="btnacciones centrado" style="text-align: center;">
        
        <div  class="actionBtn" *ngIf="tomaFoto" (click)="triggerSnapshot();" title="Tomar foto">
                <img class="camaraImg" src="/assets/imagenes apoloweb/camara.jpg" style="width: 60px;">
        </div>
        <div  class="actionBtnRrefresh" *ngIf="eliminaFoto" (click)="showNextWebcam(true);" title="Elimina imagen">
                <img class="camaraImg" src="/assets/imagenes apoloweb/refresh.jpg" style="width: 60px;">
        </div>
    </div-->


<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
<li>{{error | json}}</li>
</ul>