<div>


  <div class="apolo-title-principales apolo-title-centrado">
    <img src="/assets/imagenes apoloweb/logo_pcpc_white.png">
  </div>
  <div class="col-12 float-right ">
    <div class=" apolo-text float-right ">
      <label class="apolo-text-type">
        dsanches
      </label>
      <img src="/assets/imagenes apoloweb/icon_mimovistar.png">
    </div>

  </div>

  <div class="container apolo-label">
    <div class="apolo-icono-mov apolo-centrado-left">
      <img src="/assets/imagenes apoloweb/logo-pcpc1.png">
    </div>
    <div class="apolo-usuario apolo-centrado-right">
      usuario-prueba
    </div>
  </div>


  <div class="container">

    <div class="apolo-label">
      <app-home-components></app-home-components>
    </div>

    <div class="apolo-text">
      <app-flujo-components></app-flujo-components>
    </div>

  </div>