<div class="container">


  <div class="col-12 float-right apolo-text">
    <div class=" apolo-text float-right ">
      <label class="apolo-text-type">
          usuario-prueba
      </label>
      <img src="/assets/imagenes apoloweb/icon_mimovistar.png">
    </div>
  </div>

  <div class="apolo-label">
    <div class="apolo-icono-mov apolo-centrado-left">
      <img src="/assets/imagenes apoloweb/logo-pcpc1.png">
    </div>
    <div class="titulo-lineamientos">
      Lineamiento de actividades
    </div>
  </div>


  <div>
    <app-home-components></app-home-components>
  </div>
  <div *ngIf="atencionComponet">
    <app-atencion-components></app-atencion-components>
  </div>

  <router-outlet></router-outlet>

</div>