/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.flujo{}

@media only screen and (max-width: 768px) {    
    .flujo-label {
        display: none;
    }
    .flujo-title{
        background:#0029A6 ;
    }
    .flujo-title-centrado {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flujo-text-centrado {
        display: flex;
        justify-content: right;
        align-items: right;
    }

    .flujo-title-principales {
        width: 100%;
        float: left;
        background-color: #0029A6;
        text-align: center;
        font-family: "telefonica", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 25px;
        height: 35px;
    }   
    .flujo-text {
        display: block;
        margin-top: 15px;
        
    }

    .flujo-title-Text {
        float: left;
        justify-content: center;
        margin-top: 7px;
        font-size: 20px;
        height: 65px;
    }  
    .flujo-cuadriula{
        margin-top: 3px;
    }
    .flujo-text-type {
        font-weight: bold;
        text-align: center;
        justify-content: center;
        color: #ffffff;
        font-family: "telefonica", Arial, Helvetica, sans-serif;

    }

}