<div class="container flujo">

    <div class="flujo-title-principales rounded">
        <label class="flujo-text-type">
            Flujos
        </label>
    </div>
    <br><br><br><br><br><br>
    <div class="">
        <div class="flujo-cuadriula border rounded">

            <div class="col-12 flujo-text">
                <label>Tipo de categoria: </label>
                <!--label>{{flujo.tipocategoria}}</label-->
            </div>
            <div class="col-12 flujo-text">
                <label>Nombre Flujo: </label>
                <!--label>{{flujo.nombreflujo}}</label-->
            </div>
            <br>

            <div class="">
                    <!-- *ngfor="pasos item of listaPasos" -->
                <div class="">
                    <!--label>{{pasos.nompaso}}</label-->

                    <div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>