<div class="container flujo">

    <div class="flujo-title-principales flujo-margen rounded">
        <label class="flujo-text-type">
            Flujos
        </label>
    </div>

    <div class="flujo-cuadriula flujo-margen rounded">
        <div class="">

            <div class="col-12 flujo-text ">
                <label class="flujo-text-title-content"> Flujo: &nbsp; </label>
                <label class="flujo-text-content"> Instalacion cableado tipo cobre {{flujo.nombreflujo}}</label>
            </div>


            <div class="col-12">
                <div >
                    <div class="flujo-text-subtitle">
                        <label>
                            {{definicionPaso.NomPaso}}
                        </label>
                    </div>

                    <div class="flujo-text-content flujo-text-contenido ">
                        <div *ngFor="let cuestionario of subsPasos">
                            <div *ngIf="cuestionario.tipoCampo=='input'">
                                <label>
                                    {{cuestionario.descripcionActividad}}
                                </label>
                                <input class="flujo-input" type="text" value="{{cuestionario.input}}">
                            </div>

                            <div *ngIf="cuestionario.tipoCampo=='select'">
                                <div>
                                    {{cuestionario.descripcionActividad}}
                                </div>
                                <label >
                                    seleccione:
                                </label>
                                <select formControlName="flujo" ng-model="thing" (change)="changeSuit($event)"
                                    id="selectCuestionario">
                                    <option value="0" selected>seleccione</option>
                                    <option>{{select}}</option>
                                </select>
                            </div>

                            <div *ngIf="cuestionario.tipoCampo=='text'">
                                <label>
                                    {{cuestionario.descripcionActividad}}
                                </label>
                            </div>

                        </div>


                    </div>

                    <div class="flujo-button">
                        <button type="button" class="flujo-button-atras ">atras</button>
                        <button type="button" class="flujo-button-siguiente flujo-fuente ">Siguiente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>