
<div class="flujo" *ngIf="atencionComponente">

    <div class="flujo-title-principales flujo-margen apolo-actividades-principales  rounded">
        Flujos
    </div>
    <div class="flujo-cuadriula flujo-margen apolo-actividades-principales  rounded">
        <div class="">
            <!--Informacion de Flujo-->
            <div class="col-12 apolo-text-title-orden">
                Orden: {{orden}}
            </div>
            <div class="col-12 flujo-text ">
                <label> Flujo: {{nombreFlujo}}</label>
            </div>

            <div *ngIf="loading" style="text-align: center;">
                <img class="apolo-imagen-loading" alt="Loading" src="/assets/imagenes apoloweb/loader.gif">
              </div>

            <div *ngFor="let paso of ListaPasos">
                <div *ngIf="pasoActual==paso.Id_Paso">
                    <div class="col-12">
                        <label class="apolo-text-title-content">
                            {{paso.NomPaso}}
                        </label>
                        <div *ngIf="paso.Id_TipoPaso == 1">
                            <p>{{paso.Descripcion}}</p>
                        </div>
                    </div>
                    <!--Paso tipo desicion-->
                    <div *ngIf="paso.Id_TipoPaso == 2">
                        <div *ngFor="let cuestionarioCampo of cuestionarioPaso">
                            <div class="col-4">
                                <!-- select dinamico por el campoLista -->
                                <select name="select" (change)="DecisionSeleccionada($event.target.value)" required>
                                    <option value="" selected aria-placeholder="--">Sin Selección</option>
                                    <option value="{{campolist.Llave}}"
                                        *ngFor="let campolist of cuestionarioCampo.CampoLista">
                                        {{campolist.Descripcion}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Paso tipo actividad-->
                    <div *ngIf="paso.Id_TipoPaso == 1">
                        <!--Carga cuestionario-->
                        <div *ngIf="CuestionarioActual">
                            <div *ngFor="let cuestionarioCampo of cuestionarioPaso">
                                <div class="col-12">
                                    <label class="">
                                        {{cuestionarioCampo.Orden}}.{{cuestionarioCampo.NomCuestionarioCampo}}
                                    </label>
                                </div>
                                <div class="col-4">
                                    <!-- select dinamico por el campoLista -->
                                    <select name="select"
                                        (change)="resultadoCuestionario($event,cuestionarioCampo.Id_CuestionarioCampo)"
                                        required>
                                        <option value="" selected>Sin Selección</option>
                                        <option value="{{campolist.Llave}}"
                                            *ngFor="let campolist of cuestionarioCampo.CampoLista">
                                            {{campolist.Descripcion}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <!-- Carga Proceso-->
                        <div *ngIf="ProcesoActual">
                            <!-- Proceso -->
                            <div class="col-12">
                                <label>
                                    {{procesoPaso.Descripcion}}
                                </label>
                            </div>
                          
                            <div *ngIf="!loading">
                                <div class="col-12" *ngIf="!procesoMensage" role="alert">
                                    <div>
                                        <label>
                                            {{respuestaProcesoActual.response.label}}
                                        </label>
                                        <img class="flujo-img-proces"
                                            *ngIf="respuestaProcesoActual.llavePropiedad == 'OK'" alt="CheckOk"
                                            src="/assets/imagenes apoloweb/successfully.png">

                                        <img class="flujo-img-proces "
                                            *ngIf="respuestaProcesoActual.llavePropiedad == 'NOOK'" alt="CheckNoOk"
                                            src="/assets/imagenes apoloweb/wrong.png">

                                    </div>
                                </div>
                            </div>

                            <div class="col btnEjecutar" *ngIf="!finflujo">
                                <button *ngIf="procesButton" type="button" class="flujo-button-procesar flujo-fuente"
                                    (click)="ejecutarProceso($event)">Ejecutar</button>
                            </div>
                            
                        </div>
                    </div>

                    <!--Fin Paso tipo actividad-->
                    <div class="col text-center" *ngIf="finflujo">

                        <div *ngIf="finflujo">
                            <div>
                                <div class="col-12">
                                    <label class="">
                                        ¿La atención fue solucionada de manera exitosa?
                                    </label>
                                </div>
                                <div class="col-4">
                                    <select name="select" (change)="DecisionSeleccionada($event.target.value)" required>
                                        <option value="" selected>Sin Selección</option>
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--button type="button" class="flujo-button-procesar flujo-fuente align-items-center"
                            [disabled]="seleccionPositiva" (click)="finalizarAtencion(paso.Id_Paso)">Finalizar</button-->
                        </div>


                    <div *ngIf="seleccionObligatoria "class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Atención!</strong>{{mensajeCampoCuestionario}}
                    </div>

                    <!--app-integracion-camara *ngIf="webCamIntegracion" (pictureTaken)="handleImage($event)"></app-integracion-camara-->
                    <div *ngIf="webCamIntegracion">
                    <div class="camara centrado" style="text-align: center;">
                            <webcam [height]="250" [width]="350" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                                *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                                [videoOptions]="videoOptions" [imageQuality]="0.40" (cameraSwitched)="cameraWasSwitched($event)"
                                (initError)="handleInitError($event)">
                            </webcam>
                    </div>
                        
                            
                            <div class="btnacciones centrado" style="text-align: center;">
                                
                                <div  class="actionBtn" *ngIf="tomaFoto" (click)="triggerSnapshot();" title="Tomar foto">
                                        <img class="camaraImg" src="/assets/imagenes apoloweb/camara.jpg" style="width: 40px;">
                                </div>
                                <div  class="actionBtnRrefresh" *ngIf="eliminaFoto" (click)="showNextWebcam(true);" title="Eliminar imagen">
                                        <img class="camaraImg" src="/assets/imagenes apoloweb/refresh.jpg" style="width: 40px;">
                                </div>
                                <div  class="actionOk" *ngIf="fotoCargada" (click)="showNextWebcam(true);" title="Ok">
                                    <img class="camaraImg" src="/assets/imagenes apoloweb/ok.jpg" style="width: 40px;">
                            </div>                               
                            </div>
                            <div class="snapshot foto" *ngIf="webcamImage">
                                    <img [src]="srcImg" class="camara-root" style="width: 70%;">
                                    <div class="btn-guardar-foto ">
                                      <button type="button" class="apolo-button-guardar-foto"
                                        (click)="guardarFoto()">Guardar foto
                                      </button>
                                    </div>
                            </div>  
                        </div>
                   
                   


                    <div class="btnFooterAtrasSig">
                        <button type="button" class="flujo-button-atras flujo-fuente"
                            *ngIf="paso.Id_Paso != info.CodPaso_Inicial" (click)="Atras(paso.Id_Paso)">Atras
                        </button>
                        <div>
                        <button type="button" [className] = "seleccionInactiva?'flujo-button-siguiente flujo-fuente':'flujo-button-siguiente-opaco'" class="flujo-fuente" *ngIf="!finflujo"
                            (click)="RegistrarAtencionPaso(paso.Id_Paso)"
                            [disabled]="seleccionPositiva">Siguiente</button> {{seleccionPositiva}}

                            <button type="button" class="flujo-button-procesar flujo-fuente align-items-center btnFinalizar" *ngIf="finflujo"
                            [disabled]="seleccionPositiva" (click)="finalizarAtencion(paso.Id_Paso)">Finalizar</button>
                        </div>  
                    </div>
                    
                </div>
            </div>


        </div>                
      
    </div>
    

</div>